[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
motor = "*"
uvicorn = "*"
python-dotenv = "*"
setuptools = "*"
server = {file = ".", editable = true}

[dev-packages]
